
html{

}

body{
  background-color: black;
}

header{
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family:'Bebas Neue';
}

.imgbox{
  overflow: hidden;
 position: relative;
}

.ibox{
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.wrapper, a{
  width: 100%;
  height: 30px;
  position: relative;
  font-size: 1.1em;
  letter-spacing: .25em;
  color: #fff;
  text-decoration: none;
  margin: 5px 0 0 5px;
}


.menu{
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family:'Bebas Neue';
  /*background-image: url("../images/DenzelSitting.jpg");*/
  width: 100%;
  height: 900px;
  margin: 100px 0;
}


ul.menu li{
  display: inline-flex;
  letter-spacing: .5em;
}

li.person {
  color: #fff;
  opacity: .99;
}

ul.menu a{
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 20px 40px 0 0;
  font-size: 1.4em;
  letter-spacing: .25em;
}

li.push{
  float: right;
  border-right: 1px solid rgba(255, 255, 255, .52);
  padding: 0 0 0 20px;
}

li.push#bio{
  padding:

}

.banner{

}

.banner h1{
  font-family:'Bebas Neue';
  color: white;
  font-size: 2em;
  padding: 60px 0 0 30px;
}


.banner a {
  font-family:'Bebas Neue';
  color: white;
  font-size: 2em;
}

.box2{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;

}

.quotes{
  font-family: 'Bebas Neue';
  font-size: 35px;
  color: #fff;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: auto;
  position: relative;
  text-align: center;
}

.stats{
  font-family: 'Bebas Neue';
  font-size: 27px;
  color: #fff;
  display: flex;
  flex-flow: column;
  width: 50%;
  height: auto;
  position: relative;
  text-align: center;
}

.follow{
  width: 100%;
  height: auto;
  display: flex;
}

.movies{
  overflow: hidden;
 position: relative;
}

.moviebox{
  opacity: 0.45;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.follow h1{
  font-family: 'Bebas Neue';
  color: #fff;
  text-align: center;
  font-size: 45px;
  opacity: 0.9;
}

.follow-container{
  display: flex;
  justify-content: space-between;
}


.social-media{
  margin: auto;
  height: 300px;
  width: 300px;
}

.social-media svg{
  display: block;
 height: 150px;
 margin: 50px auto
}

.social-media img{
  display: block;
 height: 150px;
 margin: 50px auto
}

.social-media#text{
  height: 300px;
  width: 300px;
}
